@import '~styles/index.scss';

$music-size: 170px;

.MusicVideo {
  &-banner {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    padding: map-get($padding-banner, 'xlg');
    min-height: 80vh;

    &-content {
      width: 45rem;
      max-width: 100%;
      padding: 0 0 8rem;
    }

    &-title {
      margin: 0 0 1em;
      font-size: $font-size-6;
      text-align: center;
    }

    &-description {
      font-size: $font-size-3;
      font-weight: $font-weight-2;
    }
  }

  &-demo {
    display: grid;
    gap: 4rem;
    padding: map-get($padding-page, 'xlg');
    background-color: $back-color-1;
  }

  &-sample {
    &-title {
      margin: 0 0 0.6em;
      font-size: $font-size-3;
    }

    &-list {
      display: grid;
      @include autoscale-row-list($music-size);
      gap: 1rem;
    }

    &-item {
      position: relative;
      height: $music-size;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $body-color;
      cursor: pointer;

      @include delete-icon;
      @include item-cover;
    }
  }

  &-main {
    display: grid;
    gap: 3rem;
    height: 50vh;
  }

  &-result {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 50vh;
    min-height: 0;

    &-wrap {
      position: relative;
      flex: 1;
      min-height: 0;
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: contain;
      background-color: $back-color-2;
    }
  }

  &-result {
    &-cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $back-color-2;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .loading & {
        display: flex;
      }

      &-status {
        margin: 1rem;
        font-size: $font-size-1;
      }
    }

    &-message {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include item-uploader;
}
