@import '~styles/index.scss';

$video-size: 170px;

.OCR {
  &-banner {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    padding: map-get($padding-banner, 'xlg');
    min-height: 80vh;
    display: flex;
    justify-content: flex-end;

    &-content {
      width: 35rem;
      max-width: 100%;
      padding: 15vh 0 0;
    }

    &-title {
      margin: 0 0 1em;
      font-size: $font-size-6;

      &-tag {
        display: inline-block;
        margin: 4px 0 0 0.5em;
        padding: 0 4px;
        font-size: 0.6em;
        border: 1px solid currentColor;
        border-radius: 4px;
      }
    }

    &-description {
      font-size: $font-size-3;
      font-weight: $font-weight-2;
    }
  }

  &-demo {
    display: grid;
    gap: 2.5rem;
    padding: map-get($padding-page, 'xlg');
    background-color: $back-color-1;
  }

  &-sample {
    &-title {
      margin: 0 0 0.6em;
      font-size: $font-size-3;
    }

    &-list {
      display: grid;
      @include autoscale-row-list($video-size);
      gap: 1rem;
    }

    &-item {
      position: relative;
      height: $video-size + 50;
      display: inline-block;
      font-size: 0;
      cursor: pointer;

      @include delete-icon;
      @include item-cover;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        background-color: $back-color-2;
        user-select: none;
      }
    }
  }

  &-main {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 3rem;
    height: 50vh;

    &-title {
      margin: 0 0 0.8em;
      font-size: $font-size-3;
      font-weight: $font-weight-3;
    }
  }

  &-preview {
    height: 100%;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &-wrap {
      position: relative;
      flex: 1;
      height: 50vh;
      min-height: 0;
      background-color: $back-color-2;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      pointer-events: none;
      user-select: none;
    }
  }

  &-result {
    min-height: 0;
    position: relative;
    display: flex;
    flex-direction: column;

    &-title {
      margin: 0 1rem 0.6em;
      font-size: $font-size-3;
      font-weight: $font-weight-3;
    }

    &-wrap {
      position: relative;
      flex: 1;
      height: 50vh;
      min-height: 0;
      background-color: $back-color-2;
      overflow: auto;
    }

    &-placeholder {
      // position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50vh;
      z-index: 20;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $back-color-2;

      &.loading {
        display: flex;
      }

      &-status {
        margin: 0.5em;
      }
    }
  }

  @include item-uploader;
}
